<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center p-5">
            <div class="modal-body">
                Are you sure you want to delete this story
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary float-start mx-2" data-bs-dismiss="modal">NO</button>
                <form action="/story/{{_id}}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-primary">YES</button>
                </form>

            </div>
        </div>
    </div>
</div>