<h3>
    <i class="fas fa-book-reader"></i>
    <span>StoryBook</span>
</h3>

<div class="section">
    <p class="lead">
        Create public and private stories from your life
    </p>
    <div class="divider"></div>
    <div class="section">
       <a href="/auth/google" class="btn red darken-4"><i class="fab fa-google left"></i>log in with google</a> 
    </div>
</div>