<div>
    <div class="text-center">
        <h1 class="mt-5 mb-3">404</h1>
        <p>the page your're looking for does not exist.</p>
        {{!-- <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a> --}}
    </div>
</div>