<div class="container">
    <div class="text-center">
        <h1 class="mt-5 mb-3">Server Error</h1>
        <p>The server encountered an internal server error or misconfiguration and was unable to complete your request.
        </p>
        <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
    </div>
</div>